# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'atom-text-editor:not(mini)[data-grammar^="source elixir"]':
  'alt-down': 'atom-elixir:goto-definition'
  'f2': 'atom-elixir:show-elixir-docs'
  'ctrl-shift-t': 'atom-elixir:quote-selected-text'
  'ctrl-shift-x': 'atom-elixir:expand-selected-text'

'atom-text-editor':
  'alt-up': 'atom-elixir:return-from-definition'

'.platform-darwin atom-text-editor:not(mini)':
  'alt-up': 'atom-elixir:return-from-definition'

'.elixir-quoted-view atom-text-editor[mini]':
  'tab': 'elixir-quoted-view:focus-next'
  'shift-tab': 'elixir-quoted-view:focus-previous'
  'enter': 'editor:newline'

'.elixir-expand-view atom-text-editor[mini]':
  'enter': 'editor:newline'
