// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-elixir {
}

.suggestion-list-scroller {
  border-radius:5px 5px 0 0;
}

.suggestion-description {
  border-top:1px solid fade(@pane-item-border-color, 50%);
  padding:6px 8px;
  max-height: 150px;
}

.suggestion-description-content > p {
  margin-bottom: 0px;
}
